.div-with-bars {

    /* content: ''; */

    width: 100%;
    height: 10px;
    background-position: center;
    box-shadow:
        inset 0px 4px #FFF,
        2px 0px 4px #FFF,
        3px 0px 4px #FFF,
        2px 0px 3px #0fa,
        2px 3px 15px #0fa,
        20px 0vw 200px #0fa,
        inset 0 0 .25em #fff,
        inset 0 0 .51em #fff,
        inset 0 0 .75em #0fa;


}

.head {
    /* position: absolute; */
    margin-top: 5%;
    /* background-color: linear-gradient(#272d34, #0fa, #272d34); */

    background: linear-gradient(to left, #272d34, #333 50%, #0fa 75%, #272d34);
    /* background-size: 100%; */
    animation: flicker .5s linear 4;
}

.foot {
    /* display: flex;
    justify-content: center; */
    /* position: absolute; */
    /* margin-bottom: 5%; */
    /* background-color: linear-gradient(#272d34, #0fa, #272d34); */

    background: linear-gradient(to right, #272d34, #333 50%, #0fa 75%, #272d34);
    /* background-size: 100%; */
    animation: flicker 1s linear 3;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #0fa;
    /* filter: opacity(0.5) drop-shadow(2px 0px 4px #0fa); */
    
    margin-top: 1% ;
    margin-left: 30% ;
    margin-right: 30%;
  

}

.iconLinks {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0;
    padding: 1%;
    border: 10px;
    border-color: #0fa;
}

.linkedIcons.hovered {
    /* opacity: .5; */
    filter: 
    drop-shadow(2px 0px 4px #fff) 
    drop-shadow(3px 0px 4px #FFF) 
    drop-shadow(2px 0px 3px #0fa) 
    drop-shadow(2px 3px 15px #0fa)
    drop-shadow(20px 0vw 200px #0fa);
    animation:
    flicker .3s linear 2;

}

.linkedIcons.unhovered {
    opacity: .2;
    animation: fadeOut .75s ease-out

}

.linkedIcons {
    justify-content: center;
    width: 50%;
    /* opacity: .1; */

    

}

@keyframes fadeOut {
    from {
        opacity: .75;
        filter: 
        drop-shadow(2px 0px 4px #fff) 
        drop-shadow(3px 0px 4px #FFF) 
        drop-shadow(2px 0px 3px #0fa) 
        drop-shadow(2px 3px 15px #0fa)
        drop-shadow(20px 0vw 200px #0fa);
    }
  
    to {
      opacity: .2;
    }
  }


@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {

        opacity: .99;

    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}