.myHobbies {
    text-indent: 5em;
    text-align: center;

    text-align: left;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    margin: .2em 2em 1.5em;
}

.helloWorld {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}



.hobbies {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #272d34;
    border: 0.6rem solid #fff;
    border-radius: 2rem;
    margin: 0.4em;
    box-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,


        inset 0 0 1.3rem #0fa;

}

.tableOfContents {
    animation: fadeInChapter 0.4s forwards;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 15;
}

.myName {
    display: flex;
    justify-content: center;
    font-family: "Monoton", sans-serif;

    font-size: 5.5rem;
    color: #9a959a;
    margin-top: 0%;
    top: 50%;
    left: 50%;
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow:
        1px 0px 4px #FFF,
        2px 0px 4px #FFF,
        3px 0px 4px #FFF,
        2px 0px 3px #0fa,
        2px 3px 15px #0fa,
        20px 0vw 200px #0fa;
    margin: 0;
}

.flicker0 {
    animation: flicker 2s linear 1;
}

.flicker1 {
    animation: flicker 5s linear 2;
}

.flicker2 {
    animation: flicker .5s linear 4;
}

.flicker3 {
    animation: flicker 1.5s linear 2;
}


.imageCover {
  
  width: 25em;
  height: 25em;
  border-radius: 5%;
  /* overflow: hidden; */
  /* position: absolute; */
left: 50%;
  width: 20%;
  height: 20%;
  object-fit: cover;


 

}



.workTitle {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel Variable', serif;
    color: #fff;
    text-shadow:
        0 0 .05em #fff,
        0 0 .1em #fff,
        0 0 .2em #0fa;
    margin-top: 0;
    animation: flicker .5s linear 8,
        flicker 2s linear 2;
}

.chapters {
    font-family: 'Cinzel Variable', serif;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    margin: .2em 2em 1.5em;
    color: #fff;
    text-shadow:
        0 0 .5em #fff,
        0 0 .6em #fff,
        0 0 .75em #0fa;
    animation: flicker 1s linear 4;
    cursor: pointer;
    /* width: 5em; */


}

.chapters.hovered {
    animation:
        flicker .3s linear 14;

}

/* 
.chapters.unhovered {
    animation: fadeOutChapter 2s forwards;

} */


.spanBar {
    justify-content: center;
    display: block;
    height: 9px;
    width: 5em;
    border-radius: 20px;
    margin-top: .5em;

    box-shadow: none;

    /* animation: fadeInName .75s forwards, flicker .75s linear 7; */
}

.spanBar.hovered {
    animation: fadeInBar 0.55s forwards,
        flicker .3s linear 14;
}


.spanBar.unhovered {
    animation: fadeOutBar 1s forwards;
}


.topicDiv {
    margin: 1% 3%;
    text-decoration: none;
    color: #fff;
}


a {
    text-decoration: none;
    color: #fff;
}




@keyframes fadeInName {
    from {
        text-shadow: none;
    }

    to {
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,

    }

}

@keyframes fadeOutChapter {
    from {
        text-shadow:
            0 0 .5em #fff,
            0 0 .6em #fff,
            0 0 .75em #0fa;
    }

    to {
        text-shadow: none;

    }
}

@keyframes fadeInBar {
    from {
        box-shadow: none;
    }

    to {
        box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            /* 0 0 82px #0fa,
        0 0 92px #0fa, */
            inset 0 0 .05em #fff,
            inset 0 0 .5em #fff,
            inset 0 0 .1em #0fa;

    }
}

@keyframes fadeOutBar {
    from {
        box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            inset 0 0 .05em #fff,
            inset 0 0 .5em #fff,
            inset 0 0 .1em #0fa;
    }

    to {
        box-shadow: none;

    }
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {

        opacity: .99;

    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}