/* General styles */
.myHobbies {
  text-indent: 5em;
  text-align: left;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin: .2em 2em 1.5em;
}

.helloWorld {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.hobbies {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: #272d34;
  border: 0.6rem solid #fff;
  border-radius: 2rem;
  margin: 0.4em;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, inset 0 0 1.3rem #0fa;
}


.contactIcons {
  filter: drop-shadow(2px 0px 4px #fff) drop-shadow(2px 0px 3px #0fa);
  justify-content: center;
  height: 6vh;
  width: 6vh;
  
}






.imageCover {
  width: 25vh;
  /* height: 25vh; */
  border-radius: 5%;
  object-fit: cover;
  margin: auto;
  padding: auto;
  filter: drop-shadow(2px 0px 4px #fff) drop-shadow(2px 0px 3px #0fa);

}

.topicContainer {
  margin: 2%;
  height: 90%;
  width: 95%;
  overflow-y: scroll;
  border-style: groove;
  border-radius: 5%;
  box-shadow: 1px 0px 4px #FFF, 2px 0px 4px #FFF, 3px 0px 4px #FFF, 2px 0px 3px #0fa, 2px 3px 15px #0fa, 20px 0vw 200px #0fa;
    text-shadow:
    0 0 .1em #fff,
    -3em .75em 1em #0fa;
}



.topicDiv {
  margin: 1% 3%;
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.topicTitle {
  text-align: right;
  font-family: Bungee_Shade;
  color: #000;
  font-size: 5vh;
  text-shadow: 1px 0px 4px #FFF, 2px 0px 4px #FFF, 3px 0px 4px #FFF, 2px 0px 3px #0fa, 2px 3px 15px #0fa, 20px 0vw 20px #0fa, -2em 0.25em 1em #0fa;
}

.indented-paragraph {
  font-family: Poppins-MediumItalic;
  text-indent: 5%;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.paragraph-sections{
  font-family: Bungee_Shade;
  color: #000;
  font-size: 2em;
  text-shadow: 1px 0px 4px #FFF, 2px 0px 4px #FFF, 3px 0px 4px #FFF, 2px 0px 3px #0fa, 2px 3px 15px #0fa, 20px 0vw 20px #0fa, -2em 0.25em 1em #0fa;
}

.paragraph-subsections{
  padding-top: 0;
  font-family: Poppins-MediumItalic;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.responsibility {
  font-family: Poppins-SemiBoldItalic;

}

.linkedText {
  font-family: 'Poppins-SemiBoldItalic';
  justify-items: auto;
  
}

